.galerryCss {
    font-size: xx-large;
    text-align: center;
    margin-top: 7px;
    

    font-family: Arial, sans-serif;
    font-size: 24px; 
    font-weight: bold; 
    color: #51829B; 
    text-transform: uppercase; 
    letter-spacing: 1px; 
    text-shadow: 1px 1px 3px #51829B; 

      
    
    
}